In [2]:
import gymnasium as gym
import numpy as np
import random
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv(".\\Week 5\\Ads_Clicks.csv")
df.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [48]:
def eps_greedy(rewards, epsilon = 0.01):
    is_greedy = random.choices([False, True], [epsilon, 1 - epsilon])[0]

    if is_greedy:
        return np.argmax(rewards)
    else:
        return random.choice([i + 1 for i in range(len(rewards))])

4